<!DOCTYPE html>
<html lang="en" class="js"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Hung Cao</title>
	<meta name="description" content="Hung Cao">
	<meta name="author" content="Hung Cao">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/animate.css">
	<link rel="stylesheet" href="stylesheets/jquery.mCustomScrollbar.css">	
	<link rel="stylesheet" href="stylesheets/layout.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/logo3.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/logo2.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/logo1.png">
	
	<!-- Webfonts -->
	<link href="javascripts/css.css" rel="stylesheet" type="text/css">

</head>
<body class="offsite-nav">

<!-- Primary Page Layout
================================================== -->
<!-- Loading -->
<div id="loading" style="display: none;"></div>

<!-- Content -->
<div id="content">

	<!-- Offsite Nav -->
	<div id="offsite-nav">
		<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><i class="icon-reorder"></i></a>
		<div class="bt-overlay"></div><ul class="">
						<li><a href="#">Home</a><span></span></li>
						<li><a href="#about">About Me</a><span></span></li>
						<li><a href="#contact">Contact</a><span></span></li>
					</ul><ul class="">
						<li><a href="#"><i class="icon-flickr"></i></a></li>
						<li><a href="https://github.com/mrblackrose"><i class="icon-github-sign"></i></a></li>
					</ul></nav>
	</div>


	<!-- Site wrapper -->
	<div id="wrapper">

		<!-- Back Top Btn -->
		<button class="back-top-btn transition downscaled">
			<i class="icon-angle-up"></i>
		</button>
		
		<!-- Header -->
		<header id="header" class="header">
		
			<!-- Top Header -->
			<div class="top-header">
			
				<!-- Container -->
				<div class="container">
				
					<!-- Logo -->
					<a href="#" class="logo">
						
					</a>			
					
					<!-- Socials -->
					
					
				</div><!-- / Container -->		
			
			</div><!-- / Top Header -->

			<!-- Navigation -->
			<nav id="nav" class="nav transition">
			
				<!-- Container -->
				<div class="container">
					
					
				
				</div><!-- / Container -->
			
			</nav><!-- / Navigation -->		
		
		</header><!-- / Header -->

		
		<!-- Slider -->
		<section id="slider" class="slider">
		
				<!-- Prev & Next -->
				
				<!-- Container -->
				<div class="container">
				
					<!-- Slideshow -->
					<ul id="the-slider"><li class="slide 01 left cycle-slide cycle-sentinel">
						
							<!-- Model -->
							<img data-effect="bounceInLeft" class="model animated bounceInLeft" src="images/hungcao.png" alt="" style="">
							
							<!-- Contents -->
							<div data-effect="bounceInLeft" class="contents animated bounceInLeft" style="">
								<h1 class="title" style="">Hello, I am Hung Cao</h1>
								<p class="subtext" style="">I'm young, enthusiastic and fast learner software developer with over 4 years experience working in <br/>.NET technologies especially in <strong>SharePoint</strong> framework.</p>
								<a href="#contact" style="background: rgb(92, 172, 226);" class="contact btn light transition">HIRE ME</a>
							</div>
						</li>
					
						<!-- Slide Left Aligned -->
						
				</ul><!-- / Slideshow -->
				
				</div><!-- / Container -->
		
		</section><!-- / Slider -->		
		
		<!-- About -->
		<section id="about" class="about">
		
			<!-- Container -->
			<div class="container">

				<!-- Section Title -->
				<div class="sixteen columns">
					<div class="section-title">
						<h1>About <span>Hung Cao</span></h1>
						<p>
							Experienced web developer with a strong background in .NET programming. Possess 5 years of experience programming in .NET, Web API, front-end and SharePoint portal development. Experienced in implementing enterprise solution through entire software development life cycle using Agile-Scrum. Proven ability to analyze, troubleshoot complex issues and high quality deliveries.
						</p>
						<p>
							I am currently looing for W2 fulltime opportunities and willing to relocate.
						</p>
					</div>
				</div>

				<!-- Clear -->
				<div class="clear margin"></div>
				
				<!-- Divider -->
				<div class="divider"></div>

				<!-- Our Skills -->
				<div class="eight columns">
					<div class="skills">
					
						<h2>Development<span></span></h2>
					
						<ul>
						
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-html5"></i>
									<p>HTML(5)/CSS(3)</p>
									<span>100%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="100%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>PHP</p>
									<span>92%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="92%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Javascript/JQuery</p>
									<span>45%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="45%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Ruby/Ruby on Rails</p>
									<span>32%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="32%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Corona SDK</p>
									<span>5%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="5%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Wordpress</p>
									<span>88%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="88%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Mysql</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
						</ul>

							<h2>PHP Frameworks<span></span></h2>

						<ul>
							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Yii Framework</p>
									<span>95%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="95%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Laravel</p>
									<span>20%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="20%"></span>
								</div>
							</li>
							
							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Code Igniter</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>


							
						</ul>
						
					</div>
				</div>			
				
				
				<!-- Testimonials -->
				<div class="eight columns">
					<div class="skills">
						<h2>Preproccessors<span></span></h2>
						<ul>
						
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-css3"></i>
									<p>Compass/SCSS</p>
									<span>78%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="78%"></span>
								</div>
							</li>
						</ul>

						<h2>Software<span></span></h2>
					
						<ul>
						
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-crop"></i>
									<p>Photoshop CS6</p>
									<span>95%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="95%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Illustrator CS6</p>
									<span>95%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="95%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>InDesign CS6</p>
									<span>50%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="50%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-film"></i>
									<p>Premiere Pro CS6</p>
									<span>78%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="78%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-picture"></i>
									<p>Lightroom (4)</p>
									<span>95%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="95%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-edit"></i>
									<p>Sublime 2</p>
									<span>100%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="100%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-github-alt"></i>
									<p>GIT</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				

			
				
			</div><!-- / Container -->
		
		</section><!-- / About -->
		
		
		<!-- Contact -->
		<section id="contact" class="contact">
		
			<!-- Container -->
			<div class="container">
			
				<!-- Contact Details -->
				<div class="seven columns">
					<div class="contact-details">
					
						<h3>Bellevue / Renton Area</h3>
						<p>I live on the border of Newcastle and Renton, so I can commute anywhere on the eastside</p>
						
					</div>
				</div>
				
				<!-- Contact Form -->
				<div class="nine columns">
					<div class="contact-us">
					
						<form id="contact-form" class="contact-form" method="post" action="http://www.dattran.me/mailer.php">
							<input type="text" name="name" class="text" placeholder="Your Name" required="">
							<input type="email" name="email" class="text" placeholder="Email Address" required="">
							<textarea name="message" class="textarea" placeholder="Your Message" required=""></textarea>
							<button type="submit" class="send-btn transition">
								<span>Send</span>
								<i class="icon-check-sign"></i>
							</button>	
						</form>
						<div class="success">Thanks, your message was sent.</div>
					</div>
				</div>			
			
			</div><!-- / Container -->
		
		</section><!-- / Contact -->
		
		
		<!-- Footer -->
		<footer id="footer" class="footer">
		
			<!-- Socials Bar -->
			<div class="socials-bar">
				<div class="container">
				
					<!-- Social Icons -->
					<div class="sixteen columns">
						<ul class="socials">
							<li><a href="http://www.flickr.com/photos/inspiredat"><i class="icon-flickr"></i></a></li>
							<li><a href="https://github.com/DatTran"><i class="icon-github-sign"></i></a></li>
						</ul>
					</div>
				
				</div>
			</div><!-- / Socials Bar -->
			
			<!-- Contents -->
			<div class="footer-content">
				<div class="container">
				
					<!-- Link Block -->
					<div class="three columns">
						<h2>Resume</h2>
					</div>
					
					<!-- Link Block -->
					<div class="three columns">
						<h2>Contact</h2>
						<ul class="links">
							<li>Email: <a href="email:dat@novavo.com">dat@novavo.com</a></li>
						</ul>
					</div>		
				
				</div>		
			</div><!-- / Contents -->

			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
				
					<!-- Copyright Text -->
					<div class="sixteen columns">
						<p>© 2013 <span>Dat Tran</span> | All rights reserved.</p>
					</div>
				
				</div>
			</div><!-- / Copyright -->

		</footer><!-- / Footer -->

	</div><!-- / Main Wrapper -->

</div><!-- / Content -->



<!-- Javascript
================================================== -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.1.10.2.js"></script>
<script type="text/javascript" src="javascripts/jquery.cycle2.js"></script>
<script type="text/javascript" src="javascripts/classie.js"></script>
<script type="text/javascript" src="javascripts/borderMenu.js"></script>
<script type="text/javascript" src="javascripts/jquery.mCustomScrollbar.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="javascripts/tooltipsy.min.js"></script>
<script type="text/javascript" src="javascripts/waypoints.min.js"></script>
<script type="text/javascript" src="javascripts/waypoints-sticky.min.js"></script>
<script type="text/javascript" src="javascripts/custom.js"></script>


<!-- End Document
================================================== -->

</body></html>